@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

*,
::after,
::before {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

:root {
  /* primary-colors */
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  /* neutral */
  --vd-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --vl-gray: hsl(0, 0%, 98%);
  /* fonts */
  --main-font: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  font-family: var(--main-font);
  color: var(--grayish-blue);
  background: var(--vl-gray);
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 4rem 4rem 1rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container .header {
  text-align: center;
  max-width: 50rem;
}

.header .subtitle,
.card .card-title {
  color: var(--vd-blue);
}

.header .title,
.header .subtitle {
  font-size: 3rem;
}

.header .title {
  font-weight: 200;
}

.header .subtitle,
.card .card-title {
  font-weight: 600;
}

.header .subtitle {
  margin-bottom: 2rem;
}

.header .description {
  margin-bottom: 6rem;
}

/* features section */
.container .features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 3rem;
}

.features .card {
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  max-width: 30rem;
  padding: 2rem;
}

.card .card-title {
  margin-bottom: 1rem;
}

.card-four {
  grid-column: 3;
  grid-row: 1 / span 2;
}

.card-one {
  grid-row: span 2;
}

.card .card-description {
  margin-bottom: 5rem;
}

.card .icon {
  display: block;
  max-width: 100%;
  width: 5rem;
  margin-left: auto;
}

.card-one {
  border-top: 0.5rem var(--cyan) solid;
}

.card-two {
  border-top: 0.5rem var(--red) solid;
}

.card-three {
  border-top: 0.5rem var(--orange) solid;
}

.card-four {
  border-top: 0.5rem var(--blue) solid;
}

/* attribution */
footer {
  padding: 2rem 4rem 4rem 4rem;
}

.attribution {
  font-size: 1.3rem;
  text-align: center;
}
.attribution a {
  color: var(--grayish-blue);
}

/* media queries */

@media (max-width: 60rem) {
  .container .features {
    grid-template-columns: 1fr 1fr;
  }
  .card-four {
    grid-column: 2;
    grid-row: 2;
  }

  .card-one {
    grid-row: 1;
  }
}

@media (max-width: 40rem) {
  .container .features {
    grid-template-columns: 1fr;
  }
  .card-four {
    grid-column: 1;
    grid-row: 4;
  }
  .features .card {
    max-width: 350rem;
  }
}
